 .hidden {
            display: none;
    }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 280px;
        }
        li {
            clear: both;
        }
        li button {
            -webkit-appearance: none; 
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 18px;
        }
        .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
    